button {

  background: #0066b3;

  color: white;

  border: none;

  border-radius: 8px;

  padding: 12px 20px;

  cursor: pointer;

  font-size: 16px;

  min-width: 220px;
}

button:hover {
  opacity: 0.9;
}