# IDE
.idea/
.vscode/
*.iml

# Angular
node_modules/
dist/
.angular/

# Java / Spring Boot
target/
*.jar
*.war

# Docker volumes
postgres_data/
redis_data/
keycloak_data/

# Environment
.env

# OS
.DS_Store
Thumbs.db