* text=auto

.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.prettierrc text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf
*.ps1 text eol=lf

*.java text eol=lf
*.properties text eol=lf
*.xml text eol=lf
*.ts text eol=lf
*.html text eol=lf
*.scss text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
