.ticket-card {

  width: 500px;

  margin: 50px auto;

  padding: 30px;

  border-radius: 16px;

  text-align: center;

  background: white;

  box-shadow: 0 4px 20px rgba(0,0,0,0.1);

}

.ticket-number {

  font-size: 80px;

  font-weight: bold;

  color: #0066b3;

  margin: 20px 0;
}

.ticket-status {

  font-size: 24px;

  color: green;

  margin-bottom: 20px;
}