<ng-container [ngSwitch]="name">
  <svg *ngSwitchCase="'arrow-right'" lucideArrowRight [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'briefcase'" lucideBriefcaseBusiness [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'building'" lucideBuilding2 [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'check-circle'" lucideCircleCheck [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'circle-stop'" lucideCircleStop [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'dashboard'" lucideLayoutDashboard [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'download'" lucideDownload [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'external-link'" lucideExternalLink [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'eye'" lucideEye [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'eye-off'" lucideEyeOff [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'file-spreadsheet'" lucideFileSpreadsheet [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'file-text'" lucideFileText [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'key'" lucideKeyRound [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'link'" lucideLink [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'list-checks'" lucideListChecks [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'locate'" lucideLocateFixed [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'lock'" lucideLock [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'login'" lucideLogIn [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'logout'" lucideLogOut [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'map-pin'" lucideMapPin [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'megaphone'" lucideMegaphone [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'monitor'" lucideMonitor [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'pencil'" lucidePencil [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'plus'" lucidePlus [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'refresh'" lucideRefreshCw [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'save'" lucideSave [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'search'" lucideSearch [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'send'" lucideSend [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'settings'" lucideSettings [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'ticket'" lucideTicket [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'trash'" lucideTrash2 [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'unlink'" lucideUnlink [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'unlock'" lucideLockKeyholeOpen [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'upload'" lucideUpload [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'user-plus'" lucideUserPlus [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'users'" lucideUsers [size]="size" [strokeWidth]="strokeWidth"></svg>
  <svg *ngSwitchCase="'x'" lucideX [size]="size" [strokeWidth]="strokeWidth"></svg>
</ng-container>
